[submodule "deps/python-tblib"]
	path = deps/python-tblib
	url = https://github.com/ionelmc/python-tblib.git
[submodule "deps/six"]
	path = deps/six
	url = https://github.com/kelp404/six
[submodule "deps/dill"]
	path = deps/dill
	url = https://github.com/uqfoundation/dill.git
