--index-url https://pypi.python.org/simple/
--extra-index-url https://testpypi.python.org/simple/

# dependencies packages from testpypi
pyzmp>=0.0.9

# dependencies for source tests
# Note : test included in package, means we don't need anything here

# dependency sources for development only
# Note for ROS : this will end up in the wstool workspace. so we dont need to define it in the rosinstall...
# -e git+https://github.com/asmodehn/pyros-setup.git@config_refactor#egg=pyros_setup
