--index-url https://pypi.python.org/simple/
--extra-index-url https://testpypi.python.org/simple/

nose

-e git://github.com/asmodehn/pyros-setup.git@cmake_buildtool#egg=pyros-setup
-e git://github.com/asmodehn/pyzmp.git@master#egg=pyzmp

