# default configuration used when pyros source is part of your source workspace, and you use it like :
#
# import pyros
# pyros_setup.configurable_import().configure().activate()
#

import os

WORKSPACES=[os.path.join(os.path.dirname(__file__), '..', '..', 'devel')]
# not specifying this means we use internal default
DISTRO='indigo'